h1 {
  color: black;
  text-align: center;
  font-size: 3rem;
}
h2 {
  color: purple;
  text-align: center;
  font-size: 2rem;
}
h3 {
  color: darkred;
  text-align: center;
  font-size: 2rem;
}
body {
  background-color: bisque;
}
li {
  color: black;
  text-align: center;
  font-size: 1.5rem;
}
h4 {
  color: black;
  text-align: center;
  font-size: 1.5rem;
}
p {
  color: brown;
  text-align: center;
  font-size: 1.5rem;
}
